.container {
  border: 1px solid black;
  height: auto;
  width: 70%;
}

.color-black {
  color: black;
}

.m-0 {
  margin: 0;
}

.lh-0 {
  line-height: 0;
}

.sub-header {
  width: 95%;
  margin: 20px auto;
  padding: 15px 0;
  border: 1px solid black;
}

.sub-header-text {
  line-height: 1.3;
  font-weight: 400;
}

/* .address {
  color: black;
} */

.btn {
  width: 100%;
}

.output {
  margin-top: 40px;
}

#output-path {
  font-weight: bold;
}
